<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins&display=swap">
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Inclusifier Website</title>

</head>
<body>
<!-- Home -->
<section id="home">
    <img src="../static/logo.png" class = "logo">
    <div class="home-text">
        <h1>Inclusifier</h1>
        <p>Promoting inclusivity and diversity through PoseTron and Converserator</p>
        <div class="home-button">
            <a href="https://github.com/DopplerEffectReloaded/Posetron/blob/main/README.md" target="_blank"><span></span>Read More</a>
        </div>
    </div>
</section>

<div id="Navigation">
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Meet us</a></li>
        </ul>
    </nav>
</div>
<div id = menu-button>
    <img src="../static/menu.png" id="menu">
</div>

<!-- Features -->
<section id ="features">
    <div class="features-title">
        <p>FEATURES</p>
        <h1>Our Functionality</h1>
    </div>
    
    <div class="all-features">
        <div class="posetron">
            <h1>PoseTron:</h1>
            <h2>PoseTron algorithm</h2>
            <div class="posetron-description">
                <div class="posetron-icon">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="posetron-content">
                    <p>
                        PoseTron feature concept is a implementation of the Posenet algorithm for detecting inappropriate 
                        poses in the workpace. 
                    </p>
                </div>
            </div>
            <h2>PoseTron usage</h2>
            <div class="posetron-description">
                <div class="posetron-icon">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="posetron-content">
                    <p>
                        We think it can be implemented along with CCTV cameras to track the body language of office workers 
                        and alert staff of misconduct.
                    </p>
                </div>
            </div>
            <h2>PoseTron effectiveness</h2>
            <div class="posetron-description">
                <div class="posetron-icon">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="posetron-content">
                    <p>
                        Since this model is trained on the Movenet algorithm by tensorflow, 
                        it can detect inappropriate static poses really well and raise an alarm
                    </p>
                </div>
            </div>
        </div>
        <div class="posetron-img">
            <img src="../static/body.jpg">
        </div>
        <div class="posetron">
            <h2>PoseTron algorithm</h2>
            <div class="posetron-description">
                <div class="posetron-icon">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="posetron-content">
                    <p>
                        PoseTron feature concept is a implementation of the Posenet algorithm for detecting inappropriate 
                        poses in the workpace. 
                    </p>
                </div>
            </div>
            <h2>PoseTron usage</h2>
            <div class="posetron-description">
                <div class="posetron-icon">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="posetron-content">
                    <p>
                        We think it can be implemented along with CCTV cameras to track the body language of office workers 
                        and alert staff of misconduct.
                    </p>
                </div>
            </div>
            <h2>PoseTron effectiveness</h2>
            <div class="posetron-description">
                <div class="posetron-icon">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="posetron-content">
                    <p>
                        Since this model is trained on the Movenet algorithm by tensorflow, 
                        it can detect inappropriate static poses really well and raise an alarm
                    </p>
                </div>
            </div>
        </div>
        <div class="posetron-img">
            <img src="../static/chat.jpg">
        </div>
    </div>
</section>
<script src="../scripts/script.js"></script>
</body>
</html>

